<main id="productDetail">
  <!-- Section for displaying product details -->
  <section class="product-detail-card">
    
    <!-- Article to display the product image -->
    <article class="product-image">
      <img class="img" [src]="product?.imgUrl" alt="Image missing"> <!-- Image source is dynamically bound from 'product.imgUrl' -->
    </article>
    
    <!-- Article to display product information (only if 'product' object exists) -->
    <article class="product-info" *ngIf="product">
      <!-- Display the product ID -->
      <p class="product-id">ID: {{ product.id }}</p>
      
      <!-- Display the product name -->
      <h2 class="product-name">{{ product.productName }}</h2>
      
      <!-- Display the product price -->
      <p class="product-price">Price: {{ product.price }} kr</p>
      
      <!-- Display the product description -->
      <p class="product-description"> {{ product.descriptions }}</p>
      
      <!-- Display the product category -->
      <p class="product-category">Category: {{ product.category }}</p>
    </article>
    
    <!-- Container for the buttons -->
    <span class="button">
      <!-- 'Buy' button which triggers the onBuyClick function with the product ID when clicked -->
      <button class="buy-button" (click)="onBuyClick(product?.id)">Buy</button>
      
      <!-- Back button that links to the homepage -->
      <a href="/webbshop"><button class="back">Back</button></a>
    </span>
  </section>
</main>

