@use '../../../styles.scss' as *;

#productDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-detail-card {
  width: 300px;
  height: auto;
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-name {
  font-size: 24px;
  color: $primary-color;
}

.product-price {
  color: $secondary-color;
  font-weight: bold;
}

.buy-button {
  background-color: $primary-color;
  color: $white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}
.back {
  background-color: $primary-color;
  color: $white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
  }
}
.product-image {
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}