<footer>
  <!-- Container for the footer content -->
  <div class="container">
    <!-- Row to organize footer sections -->
    <div class="row">
      <!-- About section with a brief description of the company -->
      <div class="about">
        <h4>Om oss</h4> <!-- Title "About Us" in Swedish -->
        <p>Vi är ett team av passionerade utvecklare som vill skapa innovativa lösningar.</p> <!-- Brief description -->
      </div>
      <!-- Contact section with contact information -->
      <div class="contact">
        <h4>Kontakt</h4> <!-- Title "Contact" in Swedish -->
        <ul>
          <li><i class="fa fa-envelope"></i> info&#64;myangularapp.com</li> <!-- Email address -->
          <li><i class="fa fa-phone"></i> 08-123 45 67</li> <!-- Phone number -->
          <li><i class="fa fa-map-marker"></i> Stockholm, Sverige</li> <!-- Address -->
        </ul>
      </div>
      <!-- Social media section with links to social profiles -->
      <div class="socialamedia">
        <h4>Följ oss</h4> <!-- Title "Follow Us" in Swedish -->
        <ul>
          <li><i class="fa fa-facebook"></i> Facebook</li> <!-- Facebook link -->
          <li><i class="fa fa-twitter"></i> Twitter</li> <!-- Twitter link -->
          <li><i class="fa fa-instagram"></i> Instagram</li> <!-- Instagram link -->
        </ul>
      </div>
      <!-- Navigation section with links to various pages -->
      <div class="nav">
        <h4>Navigering</h4> <!-- Title "Navigation" in Swedish -->
        <ul>
          <li><div class="nav-item">Hem</div></li> <!-- Home link -->
          <li><div class="nav-item">Produkter</div></li> <!-- Products link -->
          <li><div class="nav-item">Om oss</div></li> <!-- About Us link -->
          <li><div class="nav-item">Kontakt</div></li> <!-- Contact link -->
        </ul>
      </div>
    </div>
    <!-- Row for the copyright section -->
    <div class="row copyright">
      <div class="col-md-12 copyright">
        <p>&copy; 2024 My Angular App. All rights reserved.</p> <!-- Copyright text -->
      </div>
    </div>
  </div>
</footer>
