@use '../../../styles.scss' as *;

/* Fotstil */
footer {
  background-color: $Deep-Sapphire;
  color: $white;
  padding: 20px 0;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .about, .contact, .socialamedia, .nav {
    flex: 1;
    min-width: 200px;
  }

  h4 {
    font-size: 1.5rem;
    color: $primary-color;
  }

  p {
    font-size: 14px;
    color: $light-gray;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .fa {
    margin-right: 8px;
  }

  .nav-item {
    color: $secondary-color;
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
  }

  .copyright {
    text-align: center;
    color: $light-gray;
    margin-top: 20px;
  }
}
