<footer>
  <div class="container">
    <div class="row">
      <div class="about">
        <h4>Om oss</h4>
        <p>Vi är ett team av passionerade utvecklare som vill skapa innovativa lösningar.</p>
      </div>
      <div class="contact">
        <h4>Kontakt</h4>
        <ul>
          <li><i class="fa fa-envelope"></i> info&#64;myangularapp.com</li>
          <li><i class="fa fa-phone"></i> 08-123 45 67</li>
          <li><i class="fa fa-map-marker"></i> Stockholm, Sverige</li>
        </ul>
      </div>
      <div class="socialamedia">
        <h4>Följ oss</h4>
        <ul>
          <li><i class="fa fa-facebook"></i> Facebook</li>
          <li><i class="fa fa-twitter"></i> Twitter</li>
          <li><i class="fa fa-instagram"></i> Instagram</li>
        </ul>
      </div>
      <div class="nav">
        <h4>Navigering</h4>
        <ul>
          <li><div class="nav-item">Hem</div></li>
          <li><div class="nav-item">Produkter</div></li>
          <li><div class="nav-item">Om oss</div></li>
          <li><div class="nav-item">Kontakt</div></li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-12 copyright">
        <p>&copy; 2024 My Angular App. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>