<header>
  <!-- Logo Section -->
  <section class="logo">
    <!-- Image element displaying the company logo -->
    <img src="https://storage.cloud.google.com/erikocompany/Bilder/Erikocompanylogga.jpg" alt="Logo">
  </section>
  
  <!-- Login and Logout Buttons -->
  <button id="loginButton">Logga in</button>
  <button id="logoutButton">Logga ut</button>
  
  <!-- Navigation Menu -->
  <nav>
    <ul>
      <!-- Links to different pages on the website -->
      <li><a href="/">Hem</a></li> <!-- Link to the home page -->
      <li><a href="/webbshop">Butik</a></li> <!-- Link to the shop page -->
      <li><a href="/contact">Kontakta oss</a></li> <!-- Link to the contact page -->
      <li><a href="/about">Om oss</a></li> <!-- Link to the about us page -->
    </ul>
  </nav>
  
  <!-- Shopping Cart Component -->
  <app-carts></app-carts>
</header>

