<main class="about-contaner"> <!-- Main container for the "About Us" section, class has a typo (should be 'about-container') -->
    <section> <!-- Section element that wraps the content related to "About Us" -->
        <h1>Om oss</h1> <!-- Heading in Swedish, meaning "About Us" -->
        <p> <!-- Paragraph that describes the company -->
            Erik O'Company erbjuder smarta elektroniska produkter till ett lägre pris än andra företag. 
            Vi har ett brett utbud av produkter och erbjuder även service och support för våra produkter. 
            Vi kan erbjuda bättre erbjudanden än alla andra företag eftersom vi har starka relationer med
             våra leverantörer och köper produkter i stora mängder, mer än våra konkurrenter.
        </p>
    </section>
</main>
