<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om oss</title>
</head>
<body>
    <section>
    <h1>Om oss</h1>
    <p>Erik O`Company erbjuder smarta elektonik produckter till
        ett lägre pris än andra företag. Vi har ett stort utbud av produkter
        och vi erbjuder även service och support till våra produkter.
        Vi kan erbjuda bättre deal en alla andra företag för att vi 
        har bra relationer med våra leverantörer och vi köper in 
        produkter i stora kvantiteter än konkurenterna.
    </p>
</section>
</body>
</html>