@use '../../../styles.scss' as *;

.about-container {
  background-color: $white;
  border-radius: 12px;  // Slightly round the corners more
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  // Soft shadow with better spread
  padding: 2rem;  // Add padding to give space around the content
  max-width: 800px;  // Increase max width for better readability
  margin: 3rem auto;  // Center the container and add margin at the top and bottom
  text-align: center;
  height: 100vh;

  section {
    margin: 0 auto;
    max-width: 700px;  // Set max width to prevent content from being too wide
  }

  h1 {
    color: $primary-color;
    font-size: 2.5rem;  // Increase the size for prominence
    margin-bottom: 1rem;  // Add space below the heading
  }

  p {
    color: $text-color;
    font-size: 1.2rem;  // Keep the font size readable
    line-height: 1.8;  // Increased line height for better readability
    margin: 0 auto;  // Center align the text
    max-width: 650px;  // Prevent text from stretching too far across the screen
  }
}
