@use '../../../styles.scss' as *; // Import the main styles from the specified path

// General styling for the modal element
.modal {
  position: fixed; // Fixed position to keep the modal in place on the screen
  top: 50%; // Position the modal in the middle of the screen vertically
  left: 50%; // Position the modal in the middle of the screen horizontally
  transform: translate(-50%, -50%); // Adjust the position to perfectly center the modal
  padding: 20px; // Add padding inside the modal
}

// Styling for the modal dialog when it's inside the #cartModal
#cartModal .modal-dialog {
  display: flex; // Use flexbox to layout child elements
  justify-content: center; // Horizontally center the modal dialog
  align-items: center; // Vertically center the modal dialog
  width: auto; // Allow the dialog width to be automatically determined
  height: auto; // Allow the dialog height to be automatically determined based on content
  margin: 0; // Remove any default margin
}

// Styling for the modal content
#cartModal .modal-content {
  width: 100%; // Set the modal content width to fill the entire modal container
  height: 100%; // Set the modal content height to fill the entire modal container
  background-color: $primary-color; // Use the primary color for the background
  color: $white; // Set text color to black
  border-radius: 10px; // Round the corners with a 10px radius
  padding: 20px; // Add padding inside the modal content
  display: flex; // Use flexbox for the layout of the content
  flex-direction: column; // Arrange the content vertically
}

// Styling for the modal header
#cartModal .modal-header {
  font-family: 'Arial', sans-serif; // Use Arial font for the header text
  border-top-left-radius: 10px; // Round the top-left corner
  border-top-right-radius: 10px; // Round the top-right corner
  padding: 20px; // Add padding inside the header
}

// Styling for the modal body
#cartModal .modal-body {
  flex-grow: 1; // Allow the body content to expand and take up remaining space
  padding: 20px; // Add padding inside the body
  overflow-y: auto; // Enable vertical scrolling if content exceeds the body height
}

// Styling for the modal footer
#cartModal .modal-footer {
  border-bottom-left-radius: 10px; // Round the bottom-left corner
  border-bottom-right-radius: 10px; // Round the bottom-right corner
  padding: 15px; // Add padding inside the footer
  text-align: right; // Align footer content to the right
}


// Styling for the primary button in the modal footer
#cartModal .modal-footer .btn-primary {
  background-color: $secondary-color; // Set the button background color to the secondary color
  border-color: $secondary-color; // Set the button border color to the secondary color
  color: $black; // Set the text color to black
  margin-left: 10px; // Add left margin to the button
}
.modal-footer{
  display: flex;
  justify-content: space-between;
}

.btn btn-secondary{
  background-color: $accent-color;
}

// Media query for screens with a maximum width of 768px
@media (max-width: 768px) {
  #cartModal .modal-content {
    width: 90%; // On smaller screens, set the modal content width to 90% of the screen
  }
}







