@use '../../../styles.scss' as *;


.form-group {
  margin-bottom: 15px;

  label {
    font-size: 16px;
    color: $text-color;  // Använder den globala textfärgen
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }

  .form-checkbox {
    width: 20px;
    height: 20px;
  }
}

.order-details {
  background-color: $white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h3 {
    color: $primary-color;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }

  &:focus {
    outline: none;
  }
}
