
    <main class="home-contaner">
        <h1>Wläkommen till Erik O`Company</h1>
        <p>Vi säljer smarta eltronik prylar till ett billigt pris!</p>
        <a href="/webbshop"><button>Gå till butiken</button></a>

        <section>
            <h2>Bildspel på några produkter</h2>
            <div #bildContainer class="bildspel">
              <img class="bild active" src="https://storage.cloud.google.com/erikocompany/Bilder/usb.jpg" alt="Bild 1">
              <img class="bild" src="https://storage.cloud.google.com/erikocompany/Bilder/dragekedjeh%C3%B6rlurargr%C3%B6n.jpg" alt="Bild 2">
              <img class="bild" src="https://storage.cloud.google.com/erikocompany/Bilder/appleformatgr%C3%B6n.jpg" alt="Bild 3">
            </div>
          </section>
        <section>
            <h2>Mest visade produkter</h2>
            <div class="popular-card">
                
            </div>
        </section>

        <section>
            <h2>Kund omdöme</h2>
            <div class="review">
                <h2>Fantastisk service och snabb leverans!</h2>
                <p><span class="customer">Anna J.</span> - Jag beställde min nya vinterjacka från Erik O'Company och är verkligen imponerad av både produkten och servicen. Webbshoppen var lätt att navigera och jag fick min beställning inom två dagar! Rekommenderar starkt!</p>
                <div class="rating">⭐⭐⭐⭐⭐</div>
            </div>
        
            <div class="review">
                <h2>Mycket nöjd med mitt köp</h2>
                <p><span class="customer">Oskar P.</span> - Jag köpte ett par sneakers och de var precis som på bilderna. Bra kvalitet och prisvärda. Kommer definitivt handla här igen!</p>
                <div class="rating">⭐⭐⭐⭐⭐</div>
            </div>
        
            <div class="review">
                <h2>Enkel och smidig shoppingupplevelse</h2>
                <p><span class="customer">Emma L.</span> - Webbsidan är så lätt att använda och jag kunde snabbt hitta det jag sökte. Dessutom var kundtjänst snabb på att svara när jag hade en fråga. Mycket nöjd med mitt köp!</p>
                <div class="rating">⭐⭐⭐⭐⭐</div>
            </div>
        </section>
    </main>
