#mainDockment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; // Jämnt utrymme mellan korten
  align-items: flex-start; // Justera korten till toppen
  padding: 0px;
  margin-bottom: 10px;
  width: 100%; // Fast bredd
  height: 100%; // Fast höjd
  position: static; // Positionering

}

.product-card {
  background: #2F2B75; // Bakgrundsfärg
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
  color: #ccc;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  margin-top: 10px;
}

.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #218838;
}



@media (max-width: 768px) {
  .main-container {
    width: 100%; // Anpassa bredden för mindre skärmar
    height: auto; // Anpassa höjden automatiskt
    left: 0; // Justera positionering
    top: 0;
  }

  .product-card {
    width: 100%; // Anpassa kortens bredd för mindre skärmar
    height: auto; // Anpassa höjden automatiskt
  }

  .product-image {
    width: 100%; // Anpassa bildens bredd för mindre skärmar
  }
}